body {
  background-color: hsl(212, 45%, 89%);
  display:flex;
  justify-content: space-around;
  padding-top: 200px;
}

#qr {
  height: 275px;
  width: 275px;
  border-radius: 20px;
}

#text {
  padding: 0 50px 50px 50px;
  text-align: center;
  font-family: 'Dongle', sans-serif;
}

#improve {
  font-weight: bold;
  font-family: 'Dongle', sans-serif;
  color: hsl(218, 44%, 22%);
}

#scanqr {
  color: hsl(220, 15%, 55%);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: auto;
  background-color: #FFFFFF;
  height: 380px;
  width: 300px;
  border-radius: 20px;
  padding-top: 60px;
}
